<%= form_with(model: placement) do |form| %>
<% if placement.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(placement.errors.count, "error") %> prohibited this placement from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% placement.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :floor, class: label_class %>
          <%= form.number_field :floor, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :product_shelf, class: label_class %>
          <%= form.number_field :product_shelf, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :cosmetic_id, class: label_class %>
          <%= form.text_field :cosmetic_id, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if placement.persisted? %>
<%= link_to "Cancel", placement, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", placements_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
