<div id="<%= dom_id cosmetic %>">
  <p>
    <strong>Name:</strong>
    <%= cosmetic.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= cosmetic.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= cosmetic.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= cosmetic.category %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= cosmetic.brand %>
  </p>

  
</div>

