<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Cosmetic</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to cosmetics_path, class: button_class(theme: "transparent") do %>
      All Cosmetics
      <% end %>
      <%= link_to edit_cosmetic_path(@cosmetic), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @cosmetic.name %></p>
      </li>
      <li>
        <p class="font-semibold">Quantity:</p>
        <p><%= @cosmetic.quantity %></p>
      </li>
      <li>
        <p class="font-semibold">Price:</p>
        <p><%= @cosmetic.price %></p>
      </li>
      <li>
        <p class="font-semibold">Category:</p>
        <p><%= @cosmetic.category %></p>
      </li>
      <li>
        <p class="font-semibold">Brand:</p>
        <p><%= @cosmetic.brand %></p>
      </li>
  </ul>
</div>
